#big-box.border-radius
  #header
    %h1 Add new deal
  #new-deals
    #deal-info
      %h2 Deal Info
      = form_for @deal do |f|
        = errors_for(@deal, "Oops, unable to add new deal").html_safe
        %ul.clearfix
          %li.label
            = f.label :title
          %li.field
            = f.text_field :title
        %ul.clearfix
          %li.label
            = f.label "Featured Deal"
          %li.field
            = f.radio_button :featured_deal, true
            = f.label :featured_Deal, "Feature", :value => 'yes'
            = f.radio_button :featured_deal, false
            = f.label :featured_Deal, "Don't Feature", :value => 'no'
        %ul.clearfix
          %li.label
            = f.label :min_needed
          %li.field
            = f.text_field :min_needed, :size => 5
        %ul.clearfix
          %li.label
            = f.label :max_allowed
          %li.field
            = f.text_field :max_allowed
        %ul.clearfix
          %li.label
            = f.label :end_at
          %li.field
            = f.datetime_select :end_at
        %ul.clearfix
          %li.label
            = f.label :summary
          %li.field
            = f.text_area :summary, :rows => 5
        %ul.clearfix
          %li.label
            = f.label :fine_print
          %li.field
            = f.text_area :fine_print, :rows=> 5
        - f.fields_for :locations do |builder|
          %ul.clearfix
            %li.label
              %b 
                = builder.label "Street"
            %li.field
              = builder.text_field :street_1
          %ul.clearfix
            %li.label
              = builder.label "Street 2"
            %li.field
              = builder.text_field :street_2
          %ul.clearfix
            %li.label
              = builder.label "City"
            %li.field
              = builder.text_field :city
          %ul.clearfix
            %li.label
              = builder.label "State"
            %li.field
              = builder.text_field :state
          %ul.clearfix
            %li.label
              = builder.label "Zip"
            %li.field
              = builder.text_field :zip
        - f.fields_for :offers do |builder|
          %ul.clearfix
            %li.label
              %b 
                = builder.label "Offer"
            %li.field
              = builder.text_field :title
          %ul.clearfix
            %li.label
              = builder.label "Paying Price"
            %li.field
              = builder.text_field :price
          %ul.clearfix
            %li.label
              = builder.label "Actual Value"
            %li.field
              = builder.text_field :value
        %ul.clearfix
          %li.label
          %li.field
            %button Add
