<% title "Deals" %>

<table>
  <tr>
    <th>Title</th>
    <th>Min Needed</th>
    <th>Max Allowed</th>
    <th>End At</th>
    <th>Summary</th>
    <th>Fine Print</th>
  </tr>
  <% for deal in @deals %>
    <tr>
      <td><%= deal.title %></td>
      <td><%= deal.min_needed %></td>
      <td><%= deal.max_allowed %></td>
      <td><%= deal.end_at %></td>
      <td><%= deal.summary %></td>
      <td><%= deal.fine_print %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Deal", new_deal_path %></p>
