#big-box.border-radius
  #header
    %h1
      Featured Deal
  #two-col
    #right
      #deal-title
        %h1 
          = @deal.title
      #multiple-offers
        #bounty
          #offers
            - @deal.offers.each_with_index do |offer, index|
              - if index == 0
                #deals.horizontalLineBottom
                  %h3 
                    = offer.title 
                  %dl
                    %dt You Pay:
                    %dd 
                      $
                      =offer.price 
                    %dt Value
                    %dd 
                      $
                      =offer.value 
              - else
                #deals.horizontalLine.second
                  %h3 
                    = offer.title 
                  %dl
                    %dt You Pay:
                    %dd 
                      $
                      =offer.price 
                    %dt Value
                    %dd 
                      $
                      =offer.value 
          #buywrap
            = form_tag "/download" do
              = hidden_field_tag(:deal_id, @deal.id)
              = hidden_field_tag(:offer_id, @deal.offers.first.id)
              %button 
                Get it!
        %ul.deal-stats
          %li 
            .value.tip
              %a{:href=>"#"} tip this deal
              /%img{:style=>"",:src=>"http://assets1.grouponcdn.com/images/groupon/icons/tipometer/check_mark.png"}
            .label 
          %li 
            .value 500
            .label grabbed
          %li.last
            .value 
              = time_diff_in_natural_language(Time.now, @deal.end_at)
            .label remaining
      #deal-desc.clearfix
        =@deal.summary
    #left
      .deal-image{:style=>"background: url('/images/#{@deal.image_name}') no-repeat scroll left top #EFEFEF"}
    #bottom 
      #fine-print
        %h2 the fine print
        %p 
          =@deal.fine_print
      #locations
        %h2 locations
        %ul.address
          %li
            %span.street 
              =@deal.locations.first.street_1 if @deal.locations.size > 0
            %br
            %span.phone  
              =@deal.locations.first.phone if @deal.locations.size > 0
            |
            %span.directions
              %a{:href=>"#"} get directions
          - if @deal.locations.count == 2
            %li
              %span.street 1234 Fake Street
              %br
              %span.phone 703-545-3434 
              |
              %span.directions
                %a{:href=>"#"} get directions

#big-box.border-radius
  #header
    %h1
      other deals
  #otherdeals
    #related
      - for deal in @deals
        - @class= cycle("", "middle")
        .deal-item.col{:class => (@class)}
          #inside.border-radius
            .view-image
              %a{:href=>"/deals/#{deal.id}"}
                %img{:src=>"/images/#{deal.image_name}", :width=>"190px", :height=>"200px"}
            .deal-title
              %h2
                %a{:href=>"/deals/#{deal.id}"}
                  =deal.title
              %p.deal
              %dl
                %dt You Pay:
                %dd 
                  $
                  =deal.offers.first.price 
                %dt Value
                %dd 
                  $
                  =deal.offers.first.value
