<% title "Somes" %>

<table>
  <tr>
    <th>Name</th>
  </tr>
  <% for some in @somes %>
    <tr>
      <td><%= some.name %></td>
      <td><%= link_to "Show", some %></td>
      <td><%= link_to "Edit", edit_some_path(some) %></td>
      <td><%= link_to "Destroy", some, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Some", new_some_path %></p>
